<div class="decoration">
    <div class="imagery">
        <img id="studentImage" src="./images/students.jpg" alt="A group of college students.">
        <div class="rightOfImage">
            <div class="logo">
                <img id="collegeLogo" src="./images/branston.png" alt="The logo of Branston College, showing an open book.">
                <h2>Branston College</h2>
            </div>
            <h1>Student Administration</h1>
        </div>
    </div>
</div>